tooltip#GRW-statusbar-tooltip-new {
  padding: 0;
}
tooltip#GRW-statusbar-tooltip-new .counterCol,
tooltip#GRW-statusbar-tooltip-new .tag {
  font-weight: bold;
}
tooltip#GRW-statusbar-tooltip-new .notitle {
}
tooltip#GRW-statusbar-tooltip-new grid {
  margin: 0;
  padding: 0;
}
tooltip#GRW-statusbar-tooltip-new grid * {
  color: #000000;
}
