#GRW-toolbar-button
{
  background: url("chrome://grwatcher/skin/grw-toolbar-button.png") left center no-repeat;
  -moz-image-region: rect(0px 22px 20px 0px);
}
[iconsize="small"] #GRW-toolbar-button
{
  -moz-image-region: rect(0px 40px 14px 25px);
}
#GRW-toolbar-button.off
{
  -moz-image-region: rect(20px 22px 40px 0px);
}
[iconsize="small"] #GRW-toolbar-button.off
{
  -moz-image-region: rect(20px 40px 34px 25px);
}
#GRW-toolbar-button.error
{
  -moz-image-region: rect(40px 22px 60px 0px);
}
[iconsize="small"] #GRW-toolbar-button.error
{
  -moz-image-region: rect(40px 40px 54px 25px);
}
#GRW-toolbar-button.load
{
  list-style-image: url("chrome://browser/skin/Throbber.gif");
  -moz-image-region: rect(0 20px 20px 0px);
}
[iconsize="small"] #GRW-toolbar-button.load
{
  list-style-image: url("chrome://global/skin/throbber/Throbber-small.gif");
  -moz-image-region: rect(0 16px 16px 0px);
}
